<html>
    <head>
        <title>
            Login
        </title>
    </head>
    <body>
        <h1>Login</h1>
        <form action="/reg" method="post">
            <label>
                Email:
                <input type="text" name="email">
            </label>
            <br>
            <label>
                Password:
                <input type="text" name="password">
            </label>
            <br>
            <label>
                <input type="submit" value="Login">
            </label>
            <br>
        </form>
    </body>
</html>